<div class="container">
  <div class="pdf-grid-mat" *ngIf="pdfs.length > 0">
    <mat-grid-list [cols]="columns" rowHeight="fit" style="height:100vh">
      <mat-grid-tile *ngFor="let pdf of pdfs">
        <pdf-viewer [src]="pdf.url" [rotation]="0" [original-size]="false" [autoresize]="true" [show-all]="false"
          [fit-to-page]="true" [zoom-scale]="'page-width'" [render-text]="true" [external-link-target]="'blank'"
          class="pdf-Viewer" [show-borders]="false"></pdf-viewer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>